.nav-pills{

    > li {
        > a{
            line-height: $mdb-btn-font-size-base * 2;
            text-transform: uppercase;
            font-size: $mdb-btn-font-size-base;
            font-family: $font-weight-bold;
            min-width: 100px;
            text-align: center;
            color: $gray;
            transition: all .3s;

            &:hover{
                background-color: rgba(200, 200, 200, 0.2);
            }
        }

        i{
            display: block;
            font-size: 30px;
            padding: 15px 0;
        }

        &.active > a{
            &,
            &:focus,
            &:hover{
                background-color: $brand-primary;
                color: $white-color;
                @include shadow-big-color($brand-primary);
            }
        }

    }

    &.nav-pills-primarylight1{
        > li {
            &.active > a{
                &,
                &:focus,
                &:hover{
                    background-color: $brand-primarylight1;
                    @include shadow-big-color($brand-primarylight1);
                }
            }
        }
    }

    &.nav-pills-primarylight2{
        > li {
            &.active > a{
                &,
                &:focus,
                &:hover{
                    background-color: $brand-primarylight2;
                    @include shadow-big-color($brand-primarylight2);
                }
            }
        }
    }

    &.nav-pills-primarylight3{
        > li {
            &.active > a{
                &,
                &:focus,
                &:hover{
                    background-color: $brand-primarylight3;
                    @include shadow-big-color($brand-primarylight3);
                }
            }
        }
    }

    &.nav-pills-primarylight4{
        > li {
            &.active > a{
                &,
                &:focus,
                &:hover{
                    background-color: $brand-primarylight4;
                    @include shadow-big-color($brand-primarylight4);
                }
            }
        }
    }

    &.nav-pills-accent{
        > li {
            &.active > a{
                &,
                &:focus,
                &:hover{
                    background-color: $brand-accent;
                    @include shadow-big-color($brand-accent);
                }
            }
        }
    }

    &.nav-pills-info{
        > li {
            &.active > a{
                &,
                &:focus,
                &:hover{
                    background-color: $brand-info;
                    @include shadow-big-color($brand-info);
                }
            }
        }
    }

    &.nav-pills-info-light{
        > li {
            &.active > a{
                &,
                &:focus,
                &:hover{
                    background-color: $brand-info-light;
                    @include shadow-big-color($brand-info-light);
                }
            }
        }
    }

    &.nav-pills-info-dark{
        > li {
            &.active > a{
                &,
                &:focus,
                &:hover{
                    background-color: $brand-info-dark;
                    @include shadow-big-color($brand-info-dark);
                }
            }
        }
    }

    &.nav-pills-info-darker{
        > li {
            &.active > a{
                &,
                &:focus,
                &:hover{
                    background-color: $brand-info-darker;
                    @include shadow-big-color($brand-info-darker);
                }
            }
        }
    }

    &.nav-pills-success{
        > li {
            &.active > a{
                &,
                &:focus,
                &:hover{
                    background-color: $brand-success;
                    @include shadow-big-color($brand-success);
                }
            }
        }
    }

    &.nav-pills-note{
        > li {
            &.active > a{
                &,
                &:focus,
                &:hover{
                    background-color: $brand-note;
                    @include shadow-big-color($brand-note);
                }
            }
        }
    }

    &.nav-pills-caution{
        > li {
            &.active > a{
                &,
                &:focus,
                &:hover{
                    background-color: $brand-caution;
                    @include shadow-big-color($brand-caution);
                }
            }
        }
    }

    &.nav-pills-warning{
        > li {
            &.active > a{
                &,
                &:focus,
                &:hover{
                    background-color: $brand-warning;
                    @include shadow-big-color($brand-warning);
                }
            }
        }
    }

    &.nav-pills-danger{
        > li {
            &.active > a{
                &,
                &:focus,
                &:hover{
                    background-color: $brand-danger;
                    @include shadow-big-color($brand-danger);
                }
            }
        }
    }
}
.tab-space{
    padding: 20px 0 50px 0px;
}
